<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link href="../static/login.css" rel="stylesheet">
    
    <script type="text/javascript">
    function jump(){
        window.location.href="127.0.0.1:8085/text";
    };
</script>
   
</head>
    <body>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="mov_s">
            
        <div class="logs"></div>
        <input class="mov_a"><p class="ids">嗨！我是小鹿，我是你的可耐咨询管家，有注册的所有问题都可以登录注册我哦。！可耐</p>
        </div>
       
        <div class="use">
            
            <div class="_center">
        <form methond="GET" class="form">
            <div class="set_a">
            <div class="res"><input type="text" class="nam" name="username" placeholder="输入用户名"></div>
            <div class="pot"><input type="text" class="pas" name="password" placeholder="输入密码"></div>
            <div class="bal"><input type="password" class="rep" name="repassword" placeholder="验证码"></div>
            <div class="bal_cha"><input type="password" class="rep_inp" name="repassword" placeholder="验证码"></div>
            <div class="lan"><input type="submit" class="rig" value="确认" onclick='window.open("home")'></div>
            </div>
        </form>

            </div>
    </div>
   
    </body>
</html>